@using Microsoft.AspNetCore.Http
@model List<Route>
@{
    ViewData["Title"] = "Session Page";
}

<div class="text-center">
    <h1 class="display-4">Session Count: @Context.Session.GetInt32("num")</h1>
</div>
